<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/d3.v3.min.js"></script>
    <script src="vendor/js/topojson.v1.min.js"></script>
    <script src="vendor/js/d3-legend.min.js"></script>
    <script src="vendor/js/colorbrewer.v1.min.js"></script>
    <script src="vendor/js/saveSvgAsPng.js" charset="utf-8"></script>
    <script src="vendor/js/foundation.js"></script>

    <script src="js/datamaps.custom.js"></script>

    <link rel="stylesheet" href="vendor/css/foundation.css">
    <link rel="stylesheet" href="css/stylesheet.css">

</head>
