<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#default" aria-controls="default" role="tab" data-toggle="tab">FAQ</a></li>
          <li role="presentation"><a href="#haiti-departments" aria-controls="haiti-departments" role="tab" data-toggle="tab">Haiti Departments</a></li>
          <li role="presentation"><a href="#haiti-communes" aria-controls="haiti-communes" role="tab" data-toggle="tab">Haiti Communes</a></li>
          <li role="presentation"><a href="#kenya-counties" aria-controls="kenya-counties" role="tab" data-toggle="tab">Kenya Counties</a></li>
          <li role="presentation"><a href="#usa-states" aria-controls="usa-states" role="tab" data-toggle="tab">USA States</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="default">These are the geographies you can use</div>
          <div role="tabpanel" class="tab-pane" id="haiti-departments">
            <ul class="list-unstyled">

            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="haiti-communes">
            <ul class="list-unstyled">

            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="kenya-counties">
            <ul class="list-unstyled">

            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="usa-states">
            <ul class="list-unstyled">

            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
